<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Styles.Render("~/Content/adminlte/css")*@
    @Styles.Render("~/Content/userpage/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("maincss", required: false)
    @RenderSection("logincss", required: false)
    @RenderSection("productcss", required: false)
    @RenderSection("detailcss", required: false)
    @RenderSection("cartcss", required: false)
    @RenderSection("aboutcss", required: false)
    @RenderSection("contactcss", required: false)
    @RenderSection("servicecss", required: false)
    @RenderSection("successcss", required: false)
</head>
<body>
    <header id="header" class="">
        <!-- navigation -->
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <a href="index.html" title="">
                <img src="~/Content/UserContent/images/logo.png" alt="" height="60">
            </a>
            <a href="index.html" title="Welcome to AutoWorld" class="navbar-brand" id="caption"><span id="auto">Auto</span><span id="world">World</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="@Url.Action("Index", "Home")" title="" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("About", "Home")" title="" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Products")" title="" class="nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Secvice", "Home")" title="" class="nav-link">Services</a>
                    </li>
                    @*<li class="nav-item">
                        <a href="loan.html" title="" class="nav-link">Loan</a>
                    </li>*@
                    <li class="nav-item">
                        <a href="@Url.Action("Contact", "Home")" title="" class="nav-link">Contact</a>
                    </li>
                    @*<li class="nav-item">
                        <a href="Sitemap.html" title="" class="nav-link">Sitemap</a>
                    </li>*@
                    <li class="nav-item">
                        <a href="@Url.Action("Login", "Account")" title="" class="nav-link">Login</a>
                    </li>

                </ul>
                <div class="nav-item">
                    @*@Html.ActionLink("Shopping Cart", "Index", new { controller = "Cart" })*@
                    <a href="@Url.Action("Index", "Cart", new { @class = "text-success"})"><i class="fas fa-shopping-cart text-success"></i></a>
                    <span class="badge badge-danger">@WebApp1.Common.DataUtils.GetNumberOfCartItems(Session["Cart"])</span>
                </div>

            </div>

        </nav>
        <!-- /navigation -->
    </header>

    <main>
        <!-- Carousel -->
        <div id="slides" class="carousel slide " data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slides" data-slide-to="0" class="
					active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
                <li data-target="#slides" data-slide-to="2"></li>
                <li data-target="#slides" data-slide-to="3"></li>
                <li data-target="#slides" data-slide-to="4"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Content/UserContent/images/carousel4.jpg" alt="">
                    <div class=" carousel-caption d-none d-md-block">
                        <h1>Welcome to AutoWorld</h1>
                        <p class="slogan">The Power of Dreams</p>
                        <!-- <p>
                            <a href="products.html" class="btn btn-danger">All vehicles</a>
                        </p> -->
                    </div>
                </div>
                <div class="carousel-item ">
                    <img src="~/Content/UserContent/images/carousel0.jpg" alt="">

                </div>
                <div class="carousel-item ">
                    <img src="~/Content/UserContent/images/carousel1.jpg" alt="">

                </div>
                <div class="carousel-item ">
                    <img src="~/Content/UserContent/images/carousel2.jpg" alt="">

                </div>
                <div class="carousel-item ">
                    <img src="~/Content/UserContent/images/carousel3.jpg" alt="">

                </div>

            </div>

            <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon text-danger"></span>
            </a>
            <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
                <span class="carousel-control-next-icon text-danger"></span>
            </a>
        </div>

        <div class="">
            @*<div class="container-fluid">*@
                @{Html.RenderPartial("_Notification"); }
                @RenderBody()
            @*</div>*@
        </div>

    </main>

    <footer>
        <div class="container-fluid padding pt-3">
            <div class="row">
                <div class="inf col-sm-6 col-md-3 pl-4 pr-0">
                    <p class="font-weight-bold">Our company</p>
                    <p>6 LeLoi, Hue City</p>
                    <p>Phone: <a href="tel:+84123456789" title="">+84 123456789</a></p>
                    <p>Email: <a href="mailto:autoworld05@gmail.com" title="">autoworld05@gmail.com</a></p>
                </div>
                <div class="inf col-sm-6 col-md-2 pl-4 ">
                    <p class="font-weight-bold">Menu</p>
                    <p><a href="index.html" title="">Home</a></p>
                    <p><a href="about.html" title="">About us</a></p>
                    <p><a href="products.html" title="">Products</a></p>
                    <p><a href="loan.html" title="">Loan</a></p>
                    <p><a href="contact.html" title="">Contact</a></p>
                </div>
                <div class="inf col-sm-6 col-md-2 pl-4">
                    <p class="font-weight-bold">Services</p>
                    <p><a href="services.html?#no1">Warranty Policy</a></p>
                    <p><a href="services.html?#no2">Maintenance service</a></p>
                    <p><a href="services.html?#no3">Repair Services</a></p>
                </div>
                <div class="inf col-sm-6 col-md-5 pl-4">
                    <p class="font-weight-bold">Subscribe</p>
                    <p class="pb-2">Subscribe to receive the latest news from us</p>
                    <form action="success.html">
                        <div class="input-group">
                            <input type="email" placeholder="Email address" class="form-control form-email-widget" required>
                            <span class="input-group-append">
                                <button id="send" type="submit" class="btn-email btn-success">Submit</button>
                            </span>
                        </div>
                    </form>
                    <div class="padding">
                        <div class=" my-3">
                            <p id="contact1" class="font-weight-bold">Contact us</p>
                        </div>
                        <div class="social1 text-center padding my-auto ">
                            <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                            <a href="https://twitter.com/?lang=vi"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="container-fluid " id="privacy">
            <div class="row align-items-center " style="min-height: 30px;">
                <p class=" col-12 text-white my-auto text-center">© 2020 by AutoWorld </p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/adminlte")*@
    @Scripts.Render("~/bundles/userpage")
    @RenderSection("scripts", required: false)
</body>
</html>
