@model List<WebApp1.Models.Product>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="cover container-fluid jumbotront mt-4 border-0">
        <div class="text-center ">
            <h1>A car for all styles</h1>
            <p class="sha">See the full range of vehicles and find the one that works best for you</p>
            <p>
                <a href="@Url.Action("Index", "Products")" class="btn btn-danger">All vehicles</a>
            </p>
        </div>

    </div>

    <div class="container-fluid mt-3 col px-4" id="products">
        <div class="col tt1">
            <h1>Lastest Cars</h1>
        </div>
        <hr>
        <div class="row">
            @*@{ List<WebApp1.Models.Product> md = Model.ToList(); }*@
            @for (int i = 0; i < 12; i++)
            {
                <div class="col-12 col-sm-6 col-lg-3 product-grid1 mt-3 p-0">
                    <div class="image p-0">
                        <div class="im1 my-auto">
                            <img src="@Server.UrlDecode(Model[i].FeatureImage)" alt="" class="w-100">
                        </div>
                        <h4 class="text-center">@Model[i].Name</h4>
                        <h5 class="text-center">$@Model[i].Prices.First().Value</h5>
                        <a href="@Url.Action("Details", "Products", new { id = Model[i].Id })" class=" buy btn btn-danger btn-lg">Details</a>

                    </div>
                </div>

            }
        </div>
    </div>
</div>

@section maincss {
    <link href="@Url.Content("~/Content/UserContent/css/main.css")" rel="stylesheet" type="text/css" />
}
